<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060161354004-9bc6p92r11nffpjlc5qtimjrruh55bhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060161354004-9bc6p92r11nffpjlc5qtimjrruh55bhb</string>
	<key>API_KEY</key>
	<string>AIzaSyBeH-mlBgbnTU109XqEi_f06GPfjEtb-CA</string>
	<key>GCM_SENDER_ID</key>
	<string>1060161354004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cwille97.Tack-It</string>
	<key>PROJECT_ID</key>
	<string>iosworkshop-a1589</string>
	<key>STORAGE_BUCKET</key>
	<string>iosworkshop-a1589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060161354004:ios:4c19287f08ea0d25</string>
	<key>DATABASE_URL</key>
	<string>https://iosworkshop-a1589.firebaseio.com</string>
</dict>
</plist>